
/*全局样式*/
@font-face {
	 font-family: 'jxrhConstRegular';
	 src: url('../fontchange/blackConst.eot');
	 src: local('jxrhConst Regular'), local('jxrhConst'), url('../fontchange/blackConst.ttf') format('truetype'), url('../fontchange/blackConst.svg#jxrhConst') format('svg');
}
body {
	font: 12px/1.5 Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", 宋体;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html,
body{
	width:100%;
	height:100%;
}
a{
	text-decoration: none;
	color:#2a87ec;
}
.menu{
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-style:normal;
	diaplay:inline-block;
}
.wrap-main,.map-container{
	height:100%;
}
.menu-icons{
	width:24px;
	height:24px;
	display:inline-block;
	background:url('../images/menus.png') no-repeat 0 0;
	vertical-align:middle;
	&:hover{
		width:28px;
		height:28px;
	}
}
.el-input__icon{
	background:url('../images/form.png') no-repeat 0 0;
}
.icon-other {
    background: url('../images/icon-other.png') no-repeat 0 0;
}
.icon16{
	width:16px;
	height:16px;
	display:inline-block;
	background:transparent url('../images/icon16.png') no-repeat 0 0;
}
.icon16-set{
	background-position:-48px -16px;
}
.icon16-query {
    background-position: -32px -16px;
}
.tool-icon{
	width:18px;
	height:18px;
	display:inline-block;
	font-style:normal;
	background:url('../images/menus.png') no-repeat 0 0;
	vertical-align:middle;
	cursor:pointer;
}
.tool-back{
	background-position:-59px -57px;
	margin-right:10px;
	vertical-align:-2px;
}
.map-icon{
	width:34px;
	height:38px;
	display:inline-block;
	font-style:normal;
	background:url('../images/map.png') no-repeat 0 0;
	&.map-event{
		height:42px;
		vertical-align:middle;
	}
}
.level1{
	background-position:0 -38px;
}
.level2{
	background-position:-36px -38px;
}
.level3{
	background-position:-72px -37px;
}
.level4{
	background-position:-107px -38px;
}
.level-offline{
	background-position:-141px -38px;
}
.tool-vehicle{
	background-position: -97px 0;
    width: 22px;
    height: 22px;
    right:0;
    top:-1px;
    background-color:#030a22;
    z-index:111;
}
.tool-video{
	background-position: -135px 0;
    width: 22px;
    height: 22px;
    right:0;
    top:-1px;
}
.tool-talk{
	background-position: -119px 0;
    width: 16px;
    height: 22px;
    right:0;
    top:-1px;
}
.load-text{
	text-align:center;
	color:#666;
	padding:5px 0;
}
@media only screen and (min-width: 1680px) {
}
@media only screen and (max-width: 1679px) {
	
}
@media only screen and (max-width: 1366px) {
	
	
}
@media only screen and (max-width: 1280px) {
	
}
.detail-panel li{
	overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    &:first-child{
    	label{
    		vertical-align:7px;
    	}
    	span:first-child{
	    	display: inline-block;
		    width: 120px;
		    overflow: hidden;
		    word-wrap: break-word;
		    line-height: 24px;
		    text-overflow: ellipsis;
		    white-space: nowrap;
	    }
    }
    

}
/*滚动条*/
::-webkit-scrollbar {
    z-index:30;
}
::-webkit-scrollbar-thumb{
    background-color:#aab2bd;
}
::-webkit-scrollbar-track-piece{
    background-color: #e6e9ed;
    -webkit-border-radius: 0px;
}
/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar:vertical{
    width:10px;
}
::-webkit-scrollbar:horizontal{
    height:10px;
}
::-webkit-scrollbar-track-piece{
    opacity: 0;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(27,48,83,0.6);  
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
	cursor: pointer;
    border-radius: inherit;
    background-color: hsla(220,4%,58%,.3);
    transition: background-color .3s;
}
.horn{
   	background: url("../../assets/images/horn-icon1.png") no-repeat;
   	width: 13px;
   	height: 13px;
   	position: absolute;
    &.horn-top-left{
	    background-position: 0px 0px;  
	    left: -2px;
	    top: -2px;    
  	}
     &.horn-top-right{
        background-position: -12px 0px;
        right: -2px;
        top: -2px;     
    }
    &.horn-bottom-left{
        background-position: -27px 0px;
        left: -2px;
        bottom: -2px;  
    }
    &.horn-bottom-right{
        background-position: -41px 0px;
        right: -2px;
        bottom: -2px;    
    }
}