.el-dialog__header{/*dialog头部边的颜色*/
  border-bottom: 1px solid #dddddd;
}
.el-message-box__btns,.el-message-box__content{ /*弹框mes*/
  padding:20px 46px;
}
.el-message-box__header{/*弹框mes*/
  border-bottom: 1px solid #dddddd;
}
.el-form-item__content{
  position: relative;
}
.el-textarea__inner{
  resize:none
}
.textarea_tips{
  position: absolute;
  right: 10px;
  bottom: 0;
  text-align: right;
  font-size: 12px;
}
